<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="hero">
      <h1 class="app-title"><i class="fab "></i>Techno-Blog</h1>
      <div>
        <!--navigation-->
        <nav class"nav">
          <a class="link nav-e" href="/">Home</a>
          <a class="link nav-e" href="/dashboard">Dashboard</a>

          <!--if logged in-->
          {{#if loggedIn}}
          <a class="link nav-e" href="/" id="logout">Logout</a>

          <!--if not logged in-->
          {{else}}
          <a class="link nav-e" href="/login">Login</a>
          {{/if}}
        </nav>
      </div>


    </header>

    <main>
      {{{ body }}}
    </main>
  </div>

  <!--if logged in, adds js for the logout functionality-->
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>